.delegate {
  margin-bottom: 60px;
  width: 90%;
}

.card {
  width: 100%;
  height: 100%;
  color: black;
  text-decoration: none;
  padding: 30px;
  border-radius: 1rem;
  border: 1px solid rgba(0 0 0 / 0.3);
  transition: border 0.15s ease-in-out;
  display: grid;
  grid-template-areas:
    'photo name'
    'organization country'
    'description description';
  grid-template-columns: 50% 50%;
  gap: 15px;
}

.card:hover {
  text-decoration: none;
  border: 1px solid rgb(var(--pink-regular));
  background: rgba(var(--pink-regular) / 0.05);
  transition: border 0.3s ease-in-out;
}

.imgContainer {
  grid-area: photo;
  max-width: 50%;
  display: grid;
  place-items: center;
  filter: grayscale();
  clip-path: circle();
}

.imgProfile {
  object-fit: cover;
  border-radius: 100%;
  width: 150px;
  height: 150px;
}

.imgPlaceolder {
  width: 150px;
  width: 150px;
  border-radius: 100%;
  grid-area: photo;
}

.name {
  font-size: 1.2em;
  text-transform: uppercase;
  font-weight: bold;
  letter-spacing: 0.05em;
  grid-area: name;
}

.email {
  grid-area: email;
}


.job {
  grid-area: job;
}

.country {
  grid-area: country;
}

.organization {
  grid-area: organization;
  font-weight: bold;
}

.description {
  grid-area: description;
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
  height: 60px;
}

@media (min-width: 500px) {
  .delegate {
    width: 400px;
  }
  .name {
    font-size: 1.5em;
  }
}

@media (prefers-color-scheme: dark) {
  .card {
    color: #fff;
    border: 1px solid rgba(255 255 255 / 0.15);
  }
}