.header nav {
  display: flex;
  flex: 1;
  justify-content: space-between;
  padding: 10px 0;
  flex-wrap: wrap;
  align-items: center;
  flex-direction: column;
}

.header nav a img {
  min-width: 100px;
}

.header nav ul {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  padding-left: 0;
  padding-right: 0;
}

.header nav ul li {
  list-style-type: none;
  padding: 10px;
}

.header nav ul li a {
  text-transform: uppercase;
  font-weight: bold;
  text-decoration: none;
  letter-spacing: 0.05em;
  color: inherit;
}

.header nav a:hover,
.header nav a:active,
.header nav a:focus {
  color: var(--pink-regular);
}

@media (min-width: 1000px) {
  .header nav {
    flex-direction: row;
    padding: 30px 50px;
  }
}

@media (prefers-color-scheme: dark) {
  .header nav ul li a {
    color: #fff
  }
}