
.logosContainer {
  flex: 1;
  height: 100%;
  width: auto;
  padding: 80px 0 0;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 50px;
}

.partnersLogoContainer {
  filter: grayscale();
}

.partnersLogo {
  object-fit: contain;
}

.logoContrast {
  filter: contrast(0);
}

@media (prefers-color-scheme: dark) {
  .card {
    border: 1px solid #eaeaea;
  }

  .partnersLogoContainer {
    filter: grayscale() invert();
  }


  .logoContrast {
    filter: contrast(0);
  }
}
