
.logosContainer {
  flex: 1;
  height: 100%;
  width: auto;
  padding: 80px 0 0;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 50px;
}

.partnersLogo {
  object-fit: contain;
  filter: grayscale();
}

.logoContrast {
  filter: contrast(0) grayscale();
}

@media (prefers-color-scheme: dark) {
  .card {
    border: 1px solid #eaeaea;
  }

  .partnersLogo {
    filter: grayscale() invert();
  }


.logoContrast {
  filter: contrast(0) grayscale() invert();
}
}
