.container {
  padding: 0;
}

.main {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
}

.main :where(h1, h2, h3, ul) {
  align-self: center;
}

.venueList {
  width: 90vw;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  grid-gap: 2rem;
}

@media (min-width: 600px) {

}

@media (prefers-color-scheme: dark) {
}