.container {
  padding: 0 2rem;
}

.main {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  /* display: grid;
  grid-template-areas:
    'title'
    'photo'
    'organization'
    'country'
    'job'
    'description';
    gap: 30px; */
}

.title {
  grid-area: title;
  text-align: center;
}

.imgContainer {
  width: 300px;
  height: 300px;
  display: grid;
  place-items: center;
  filter: grayscale();
  grid-area: photo;
}

.imgProfile{
  object-fit: cover;
  border-radius: 100%;
}

.organization {
  font-size: 1.5em;
  margin: 10px;
  grid-area: organization;
}

.country {
  font-size: 1.5em;
  margin: 10px;
  grid-area: country;
}

.job {
  grid-area: job;
  text-align: center;
}

.description {
  grid-area: description;
  max-width: 800px;
}