html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
  body {
    color: white;
    background: black;
  }
}

h1,
h2,
h3,
h4 {
  font-family: 'Barlow Condensed', sans-serif;
  text-transform: uppercase;
  letter-spacing: 0.05em;
}

h1 {
  margin-bottom: 20px;
  font-size: clamp(1rem, -1rem + 8.333vw, 3.5rem);
  word-wrap: anywhere;

}

a {
  color: #0070f3;
  text-decoration: underline;
}

a:hover {
  color: var(--pink-regular);
  text-decoration: underline;
}

.pink {
  color: var(--pink-regular)
}

:root {
  --pink-regular: #f5a0b3;
}

.venue-list li {
  padding-bottom: 25px;
}

.venue-name {
  text-transform: uppercase;
  font-weight: bold;
}

.screen-reader {
  visibility: hidden;
  width: 1px;
  height: 1px;
  color: transparent;
  background: transparent;
  position: absolute;
}

@media (prefers-color-scheme: dark) {
  .card,
  .footer {
    border-color: #222;
  }
  .code {
    background: #111;
  }
  .logo img {
    filter: invert(1);
  }
}
