.container {
  padding: 0;
}

.main {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.title {
  display: flex;
  align-items: center;
  color: rgb(var(--emerald));
}

.sectionTitle {
  color: rgb(var(--emerald-darker-1));
}

.titleIcon {
  opacity: 0.9;
  margin: 0 20px;
  color: rgb(var(--emerald));
}

.sectionTitleIcon {
  margin-right: 10px;
  opacity: 0.9;
}

.sectionList {
  padding-left: 0;
}

.listItem {
  padding: 10px 0;
}
.colored {
  color: rgb(var(--emerald-darker-2));
}


@media (prefers-color-scheme: dark) {
  .sectionTitle,
  .colored {
    color: rgb(var(--emerald));
  }
}
